name: Scrape json Data

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.json'
  schedule: # Ref https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '20 * * * *' # Ref https://crontab.guru/examples.html
  
jobs:
  changed_files:
    name: Check modified files
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs: # Map a step output to a job output
      js: ${{ steps.changes.outputs.js }}
    
    steps: # Make sure we have some code to diff
    #  - name: curl actuator
    #    id: ping
    #    run: |
    #      echo "status=$(curl https://www.roi.ru/api/attributes/status.json)" >> $GITHUB_OUTPUT
      
    #  - name: health check
    #    run: |
    #      if [[ ${{ steps.ping.outputs.status }} != *"UP"* ]]; then
    #        echo "health check is failed"
    #        exit 1
    #      fi
    #      echo "It's OK"
      
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
          ref: ${{ github.head_ref }}
          sparse-checkout: |
            data
    #      token: ${{ secrets.GH_PAT }} # `GH_PAT` is a secret that contains your PAT
    #      fetch-depth: 0
    #      ref: my-branch
      
      - name: Get changed json files
        id: changes # Set outputs using the command
        run: |
          echo "js=$(git diff --name-only --diff-filter=ACMRT ${{ github.head_ref }} ${{ github.sha }} | grep [[:digit:]]\.json$ | xargs)" >> $GITHUB_OUTPUT
  
  deploy_and_scrape:
    name: Scrape query
    permissions: # Ref https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
      contents: write
    runs-on: ubuntu-latest
    needs: changed_files
    if: ${{ needs.changed_files.outputs.js }} && contains( github.ref, 'refs/heads/ma' )

    steps:
      - name: Checkout repository
        id: checkout
        uses: actions/checkout@v6
      
      - name: Git config
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          echo "Commit: ${{ steps.checkout.outputs.commit }}"
          echo "Ref: ${{ steps.checkout.outputs.ref }}"
          echo "Event.sha: ${{ github.event.pull_request.base.sha }}"
          echo "Sha: ${{ github.sha }}"

      - name: Build on ${{ github.ref_name }}
        run: npm install

      - name: Run scrape script
        run: npm run update-roi
        env:
          PATHWAY_SAVE: /data/roi
          TIMEZONE: 'Europe/Moscow' # Optional

      - uses: corcc/publish@master
        env:
          TASK_NAME: 'Data query:'
          TZ: 'Europe/Moscow' # Timezone (optional)
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub sets this for you
